@media (max-width: 425) {
  /* .footer-container,
  .credit {
    top: calc(2000px - 2060px);
    
  } */
   .flex-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   }
}
