@media (max-width: 578px) {
  /* category start */

  .categories-section {
    width: 100vw;
    min-height: 120px;
    right: -1px;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }

  .flexbox-category {
    width: 100vw;
  }

  .inside-box {
    height: 100px;
  }
  /* اندازه انیمیشن ها  */
  .game-animation {
    max-width: 60px;
  }
  .makeup-animation {
    max-width: 57px;
  }
  .digital-animation {
    max-width: 60px;
  }
  .cloth-animation {
    max-width: 60px;
  }
  /* category end */

  /* Footer start */
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 20px;
  }
  .footer-box {
    width: 150px;
    align-items: end;
  }
  #footer-hover {
    display: flex;
    gap: 10px;
  }
  .footer-container,
  .credit {
    top: calc(2000px - 1200px);
  }
  .credit {
    font-size: 17px;
  }
  /* fotter end  */
}
