:root {
  --3th-bg: #242424;
  --sec-bg: #90be9a9e;
  --main-color: #384859;
}
@font-face {
  font-family: "Vaziri";
  src: url("../public/font/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 500; /* وزن فونت را مشخص کنید */
  font-style: normal;
}
#root {
  max-width: 100vw;
  height: auto;
  margin: 0;
  direction: rtl;
  padding: 0;
}
body {
  font-family: "Vaziri", sans-serif;
  font-weight: 700;
  height: 2000px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* navbar start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
  width: 100vw;
  background-color: var(--sec-bg);
}
nav a {
  margin: 0 2rem;
}
header button .nav-btn {
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  outline: none;
  border: none;
  font-size: 1.8rem;
}
header button .nav-btn:hover {
  cursor: pointer;
}
/* navbar end */

/* home start */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 80px);
  background-color: var(--main-color);
  position: absolute;
  top: 80px;
  background-image: url("/public/img/home/image-of-homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.home-box {
  display: flex;
  justify-content: center;
  min-width: 250px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.113);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/* home end */

/* categories start */
.categories-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  min-height: 200px;
  /* widht */
  width: 900px;
  position: relative;
  top: calc(100vh - 10vh);
  right: calc((100vw - 900px) / 2);
  background-color: var(--sec-bg);
  border-radius: 20px;
}
/* برای داخل باکس ها که وشته و انیمیشن هست  */
.flexbox-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  font-size: 15px;
  text-align: center;
  width: 120px;
}
/* داخل باکس ها  */
.inside-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: var(--main-color);
  border-radius: 20px;
}
.inside-box:hover {
  transition: 500ms;
  transform: scale3d(1.2, 1.2, 1);
}
/* اندازه انیمیشن ها  */
.game-animation {
  width: 120px;
}
.makeup-animation {
  width: 120px;
}
.digital-animation {
  width: 120px;
}
.cloth-animation {
  width: 120px;
}
/* category end */

/* Footer start */
.credit {
  width: 180px;
  position: relative;
  top: calc(2000px - 20px);
  right: calc((100vw - 180px) / 2);
}
.credit span {
  text-transform: uppercase;
}
.footer-container {
  /* 2000px */
  padding-top: 30px;
  direction: ltr;
  width: 100vw;
  position: relative;
  top: calc(2000px - 70px);
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: start;
  border-top: 1px solid var(--sec-bg);
}
.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.footer-box h3 {
  margin-bottom: 20px;
  font-weight: 900;
  color: #90be9aca;
}
/* hover footer transform */

#footer-hover:hover {
  transition: 500ms;
  transform: translateX(-8px);
  transform: scaleX(1.2);
}
/* footer end */
