:root {
  --3th-bg: #242424;
  --sec-bg: #90be9a9e;
  --main-color: #384859;
}
@font-face {
  font-family: "Vaziri";
  src: url("../public/font/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 500; /* وزن فونت را مشخص کنید */
  font-style: normal;
}
#root {
  max-width: 100vw;
  height: auto;
  margin: 0;
  direction: rtl;
  padding: 0;
}
body {
  font-family: "Vaziri", sans-serif;
  font-weight: 700;
  height: 2000px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* navbar start */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
  width: 100vw;
  background-color: var(--sec-bg);
}
nav a {
  margin: 0 2rem;
}
header button .nav-btn {
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  outline: none;
  border: none;
  font-size: 1.8rem;
}
header button .nav-btn:hover {
  cursor: pointer;
}
/* navbar end */

/* home start */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: calc(100vh - 80px);
  background-color: var(--main-color);
  position: absolute;
  top: 80px;
  background-image: url("/public/img/home/image-of-homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.home-box {
  display: flex;
  justify-content: center;
  min-width: 200px;
  padding-bottom: 10px;
  padding-top: 20px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.113);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
/* home end */

/* categories start */

#dastebandy {
  font-size: large;
  color: #fff;
  position: relative;
  top: calc(100vh - 7vh);
  right: calc((100vw - 180px) / 2);
  /* margin-bottom: 30px; */
  border-radius: 20px;
  border: 4px solid var(--main-color);
  width: fit-content;
  padding: 10px 20px;
}

.categories-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  min-height: 200px;
  /* widht */
  width: 900px;
  position: relative;
  top: calc(100vh - 10vh);
  right: calc((100vw - 900px) / 2);
  background-color: var(--sec-bg);
  border-radius: 20px;
}
/* برای داخل باکس ها که وشته و انیمیشن هست  */
.flexbox-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  font-size: 15px;
  text-align: center;
  width: 120px;
}
/* داخل باکس ها  */
.inside-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: var(--main-color);
  border-radius: 20px;
}
.inside-box:hover {
  transition: 500ms;
  transform: scale3d(1.2, 1.2, 1);
}
/* اندازه انیمیشن ها  */
.game-animation {
  width: 120px;
}
.makeup-animation {
  width: 120px;
}
.digital-animation {
  width: 120px;
}
.cloth-animation {
  width: 120px;
}
/* category end */

/* Footer start */
.credit {
  width: 180px;
  position: relative;
  top: calc(2000px - 1600px);
  right: calc((100vw - 180px) / 2);
}
.credit span {
  text-transform: uppercase;
}
.footer-container {
  /* 2000px */
  padding-top: 30px;
  direction: ltr;
  width: 100vw;
  position: relative;
  top: calc(2000px - 1600px);
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: start;
  border-top: 1px solid var(--sec-bg);
  margin-top: 100px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.footer-box h3 {
  margin-bottom: 20px;
  font-weight: 900;
  color: #90be9aca;
}
/* hover footer transform */

#footer-hover:hover {
  transition: 500ms;
  transform: translateX(-8px);
  transform: scaleX(1.2);
}
/* footer end */

/* scroll cloth  start */
#Cloth-Section {
  padding: 10px 0 10px 0;
  position: relative;
  top: calc(100vh - 7vh);
  height: 380px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--sec-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#Cloth-Section h2 {
  color: #fff;
}

.cloth-box-container {
  display: flex;
  direction: rtl;
  overflow-x: auto;
  height: calc(400px - 20px - 30px);
  display: flex;
  gap: 20px;
}
.cloth-box {
  background-color: var(--main-color);
  min-width: 200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0, 0.1);
  box-shadow: 4px 3px 0.5px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 12px 10px 10px 10px;
  margin: 12px 10px 10px 10px;
}
.cloth-box:focus,
.cloth-box:hover {
  transition: 500ms;
  transform: scale3d(1.1, 1.1, 1);
}
.cloth-box P {
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  background-color: #3c3c3c;
  border-radius: 10px;
  padding-top: 7px;
  margin: 2px 3px;
}

/* scroll cloth component end */

/* Scrll Game start   */

#Game-Section {
  padding: 10px 0 10px 0;
  position: relative;
  top: calc(100vh - 7vh);
  height: 380px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--sec-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#Game-Section h2 {
  color: #fff;
}
.game-box:focus,
.game-box:hover {
  transition: 500ms;
  transform: scale3d(1.1, 1.1, 1);
}
.game-box-container {
  display: flex;
  direction: rtl;
  overflow-x: auto;
  height: calc(400px - 20px - 30px);
  display: flex;
  gap: 20px;
}
.game-box {
  background-color: var(--main-color);
  min-width: 200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0, 0.1);
  box-shadow: 4px 3px 0.5px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 12px 10px 10px 10px;
  margin: 12px 10px 10px 10px;
}

.game-box P {
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  background-color: #3c3c3c;
  border-radius: 10px;
  padding-top: 7px;
  margin: 2px 3px;
}
/* scroll game end */

/* scroll makeup start */

#Makeup-Section {
  padding: 10px 0 10px 0;
  position: relative;
  top: calc(100vh - 5vh);
  height: 380px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--sec-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#Makeup-Section h2 {
  color: #fff;
}

.makeup-box-container {
  display: flex;
  direction: rtl;
  overflow-x: auto;
  height: calc(400px - 20px - 30px);
  display: flex;
  gap: 20px;
}
.makeup-box {
  background-color: var(--main-color);
  min-width: 200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0, 0.1);
  box-shadow: 4px 3px 0.5px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 12px 10px 10px 10px;
  margin: 12px 10px 10px 10px;
}
.makeup-box P {
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  background-color: #3c3c3c;
  border-radius: 10px;
  padding-top: 7px;
  margin: 2px 3px;
}
.makeup-box:focus,
.makeup-box:hover {
  transition: 500ms;
  transform: scale3d(1.1, 1.1, 1);
}
/* scroll makeup end  */

/* scroll digital start */

#Digital-Section {
  padding: 10px 0 10px 0;
  position: relative;
  top: calc(100vh - 5vh);
  height: 380px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--sec-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#Digital-Section h2 {
  color: #fff;
}

.digital-box-container {
  display: flex;
  direction: rtl;
  overflow-x: auto;
  height: calc(400px - 100px - 30px);
  display: flex;
  gap: 20px;
}
.digital-box {
  background-color: var(--main-color);
  min-width: 200px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid rgb(0, 0, 0, 0.1);
  box-shadow: 4px 3px 0.5px rgb(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 12px 10px 10px 10px;
  margin: 12px 10px 10px 10px;
}
.digital-box P {
  color: rgb(255, 255, 255);
  text-align: center;
  height: 30px;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  background-color: #3c3c3c;
  border-radius: 10px;
  padding-top: 7px;
  margin: 2px 3px;
}
.digital-box:focus,
.digital-box:hover {
  transition: 500ms;
  transform: scale3d(1.1, 1.1, 1);
}
.flex-all {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
